/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {































}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {






























}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	



























}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {

.header-bottom-left {
   display: block;
   padding-bottom: 15px;
}

.main-menu ul {
    margin-left: 0px;
}

.main-menu ul li {
   display: block;
}

.main-menu ul li a {
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu ul li ul li {
   display: block;
}

.main-menu ul li ul {
    position: relative;
    margin-left: 0;
    display: block;
    width: 100%;
    left: 20px;
    z-index: 99;
    background: #fff;
    padding-left: 0;
    opacity: 1;
    transform: scale(1);
    display: none;
}

.main-menu {
   margin-top: 10px;
   display: none;
}




























}
