@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: #333333;
}

.container {
    max-width: 1370px;
}

a:hover {
    text-decoration: none;
}

button {
    outline: none;
}

button:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white;
    background: #ff7675;
}

::-webkit-selection {
    color: white;
    background: #ff7675;
}

::-moz-selection {
    color: white;
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}


/* header-top-area-start */

.header-top {
    background: #007CFB;
}

.header-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-wrap p {
    font-size: 15px;
    margin-bottom: 0;
    color: #fff;
}

.header-top-wrap p span img {
    display: inline-block;
    width: 18px;
    margin-right: 8px;
}

.header-top-right ul li {
    display: inline-block;
}

.header-top-right ul li a {
    display: inline-block;
    color: #6BB3FE;
    padding: 10px 17px;
    background: #0E85FF;
    width: 50px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.header-top-right ul li a:hover {
    color: #15287D;
    background: #FEF22E;
}

.header-top-right ul li a i {
    font-style: 14px;
}


/* header-top-area-end */


/* header-bottom area start */

.header-bottom-left {
    display: flex;
    align-items: center;
}

.logo a img {
    width: 150px;
    display: inline-block;
}

.main-menu ul {
    margin-left: 50px;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.main-menu ul li:hover #dropdown {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.main-menu ul li ul {
    position: absolute;
    margin-left: 0;
    display: block;
    width: 150px;
    left: -35px;
    z-index: 99;
    background: #fff;
    padding-left: 15px;
    opacity: 0;
    transform: scale(0);
}

.main-menu ul li ul li {
    margin-left: 0;
    display: inline-block;
}

.main-menu ul li ul li a {
    display: inline-block;
    line-height: 35px;
}

.main-menu ul li a {
    display: inline-block;
    color: #15287d;
    font-size: 16px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    line-height: 50px;
}

.main-menu ul li a:hover {
    color: #007cfb;
}

.header-bottom-right {
    display: flex;
    justify-content: right;
}

.cart-area {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.cart-img img {
    display: inline-block;
    width: 40px;
    margin-right: 10px;
}

.cart-text h4 {
    font-weight: 600;
    font-size: 15px;
    color: #15287d;
    margin-bottom: 0;
}

.cart-text p {
    color: #3a4268;
    font-size: 14px;
    margin-bottom: 0;
}

.phone {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.phone-img img {
    display: inline-block;
    width: 40px;
    margin-right: 10px;
}

.phone-text h4 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
}

.phone-text h4 a {
    display: inline-block;
    color: #15287d;
}

.phone-text p {
    color: #3a4268;
    font-size: 14px;
    margin-bottom: 0;
}

.header-bottom {
    padding: 20px 0px;
}


/* header-bottom area end */


/* banner-area-start */

.banner-area {
    background: #15287D;
    padding: 150px 0px 300px 0px;
}

.banner-wrapper p span {
    font-size: 14px;
    background: #007CFB;
    color: #fff;
    font-weight: 500;
    padding: 4px 10px;
    margin-right: 10px;
}

.banner-wrapper p {
    font-size: 14px;
    background: #fff;
    color: #15287d;
    padding: 3px 15px 3px 0px;
    font-weight: 500;
    display: inline-block;
}

.banner-wrapper h1 {
    font-weight: 600;
    font-size: 65px;
    color: #fff;
    padding: 25px 0px;
}

.banner-wrapper .banner-text-two {
    color: #fff;
    background: none;
    font-size: 16px;
    font-weight: 400;
    display: block;
    line-height: 28px;
}

a#banner-btn {
    margin-top: 25px;
    display: inline-block;
    background: #007CFB;
    padding: 20px 20px 20px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

a#banner-btn:hover {
    opacity: 0.7;
}

a#banner-btn span {
    background: #FEF22E;
    padding: 10px 15px;
    color: #253578;
    margin-left: 20px;
}


/* banner-area-end */


/* form area start */

.form-area-bg-wrapper {
    background: url(img/form-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.form-area-wrapper {
    padding: 67px 350px 69px 60px;
}

.form-input input {
    width: 100%;
    border: 2px solid #EFF1F7;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #15287d;
    margin-bottom: 20px;
    opacity: 1;
}

.form-input input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #15287d !important;
    opacity: 1;
}

.form-input select {
    width: 100%;
    border: 2px solid #EFF1F7;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #15287d;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(img/angle-down.png);
    background-position: top 25px right 20px;
    background-repeat: no-repeat
}

.btn.btn-outline-secondary.border-left-0 {
    display: none;
}

#datepicker {
    height: 58px;
    background: url(img/celender.png);
    background-position: top 20px right 20px;
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: none;
}

a#banner-btn-two {
    display: inline-block;
    background: #007CFB;
    padding: 18px 11px 18px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    width: 100%;
}

a#banner-btn-two:hover {
    opacity: 0.7;
}

a#banner-btn-two span {
    background: #FEF22E;
    padding: 10px 15px;
    color: #253578;
    margin-left: 30px;
}

.main-bg {
    background: #fff;
}

.form-area {
    position: relative;
    margin-top: -125px;
    z-index: 999;
}


/* form area end */


/* Core Features area start */

.core-feature {
    background: #EDF6FF;
    padding: 250px 0px 200px 0px;
    position: relative;
    margin-top: -146px;
}

.core-feature-heading p {
    color: #007cfb;
    font-weight: 500;
    font-size: 16px;
}

.core-feature-heading h1 {
    color: #15287d;
    font-size: 42px;
}

.box-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box-text p {
    color: #15287d;
    font-size: 20px;
    font-weight: 500;
}

.box-text span a i {
    display: inline-block;
    font-size: 14px;
    color: #15287d;
    border: 2px solid #ECEDF3;
    padding: 10px 15px;
}

.box-img img {
    width: 100%;
}

.box-img:hover.box-img img {
    border-radius: 12px;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.box-img:hover .box-text span a i {
    background: #007CFB;
    color: #fff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.box-area {
    position: relative;
    margin-top: -125px;
}


/* Core Features area end */


/* about area start */

.about-area {
    padding: 150px 0px 100px 0px;
}

.about-area-left img {
    width: 100%;
}

.about-area-left {
    position: relative;
}

.about-area-left-content {
    position: absolute;
    top: 30%;
    right: 30px;
}

.about-area-left-content button {
    border: none;
    outline: none;
    background: none;
}

.about-area-right {
    padding-left: 159px;
}

.about-area-right h6 {
    font-weight: 400;
    font-size: 16px;
    color: #007cfb;
}

.about-area-right h1 {
    font-weight: 600;
    font-size: 42px;
    color: #15287d;
    margin: 30px 0px;
}

.about-area-right p {
    font-size: 15px;
    color: #747ca2;
    line-height: 28px;
}

.about-area-right ul {
    margin-top: 30px;
}

.about-area-right ul li {
    margin-bottom: 15px;
    color: #747ca2;
    font-size: 15px;
}

.about-area-right ul li span img {
    width: 35px;
    display: inline-block;
    margin-right: 15px;
}


/* about area end */


/* what we do area start */

.what-do {
    background: #15287D;
    padding: 100px 0px;
}

.what-do-heading p {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.what-do-heading h1 {
    font-weight: 600;
    font-size: 42px;
    color: #fff;
    line-height: 52px;
}

.what-do-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #253A98;
    padding: 40px 40px 40px 40px;
    margin-top: 50px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.what-do-content:hover {
    background: #253A98;
}

.what-do-content:hover .what-do-inner-img {
    background: #007CFB;
}

.what-do-content:hover.what-do-content span i {
    background: #FEF22E;
    color: #15287D;
}

.what-do-inner-content {
    display: flex;
    align-items: center;
}

.what-do-inner-content img {
    width: 48px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.what-do-inner-img {
    width: 95px;
    height: 95px;
    background: #253A98;
    border-radius: 34% 66% 46% 54% / 51% 58% 42% 49%;
    position: relative;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.what-do-inner-text h3 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.what-do-inner-text p {
    color: #7183d4;
    font-size: 15px;
    line-height: 28px;
}

.what-do-inner-text {
    margin-left: 40px;
}

.what-do-content span i {
    background: #253A98;
    padding: 12px 15px;
    color: #fff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.bottom-what-do-content {
    margin-top: 30px;
}


/* what we do area end */


/* works gallery start */

.works-gallery {
    padding: 100px 0px;
}

.work-gallery-heading p {
    font-weight: 500;
    font-size: 16px;
    color: #007cfb;
}

.work-gallery-heading h1 {
    font-size: 42px;
    font-weight: 600;
    color: #15287d;
    line-height: 52px;
}

.controls {
    margin-top: 40px;
}

.controls button {
    border: none;
    outline: none;
    background: none;
    color: #7c89c5;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

.controls button.active {
    color: #15287d;
}

.work {
    margin-top: 40px;
}

.tab-content img {
    width: 100%;
}

.tab-text {
    margin-top: 20px;
}

.tab-text h4 {
    font-weight: 600;
    color: #15287d;
    font-size: 24px;
}

.tab-text p {
    font-size: 18px;
    color: #747ca2;
    font-weight: 400;
}

.tab-content {
    position: relative;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2D3D86;
    transform: scale(0);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.hover-img span {
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
}

.hover-img span img {
    width: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-content:hover .hover-img {
    transform: scale(1);
}

#datepicker {
    outline: none !important;
}

#datepicker:focus {
    outline: none !important;
    box-shadow: none;
}

.form-control:focus {
    border-color: #EFF1F7;
}


/* works gallery end */


/* client-feedback area start */

.client-area {
    overflow: hidden;
    position: relative;
}

.client-area:after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(img/client-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
}

.client-right {
    position: relative;
    z-index: 999;
    top: -30px;
}

.client-left img {
    width: 100%;
}

.client-right-wrapper {
    padding-left: 100px;
}

.client-right-heading p {
    font-weight: 500;
    font-size: 16px;
    color: #007cfb;
}

.client-right-heading h1 {
    font-weight: 600;
    font-size: 42px;
    color: #15287d;
    margin-top: 20px;
    line-height: 52px;
}

.slider-content {
    width: 535px;
    margin: 36px 0px;
    background: #fff;
    border-right: 5px solid #007CFB;
    border-bottom: 5px solid #007CFB;
    padding: 30px;
}

.slider-left span img {
    display: inline-block !important;
    width: 50px !important;
    margin-right: 20px;
}

.slider-right p {
    font-size: 15px;
    color: #747ca2;
    line-height: 28px;
}

.slider-right-inner-img img {
    display: inline-block !important;
    width: 50px !important;
    margin-right: 15px;
}

.slider-text {
    display: flex;
}

.slider-right-inner-content {
    display: flex;
}

.slider-right-inner-text h4 {
    font-weight: 600;
    font-size: 18px;
    color: #15287d;
    margin-bottom: 0px;
}

.slider-right-inner-text p {
    font-weight: 400;
    font-size: 15px;
    color: #747ca2;
    margin-bottom: 0;
}

.slider-btn span {
    display: inline-block;
    font-size: 15px;
    border: 2px solid #D7E1F2;
    padding: 10px 15px;
    margin-right: 10px;
    color: #15287D;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.slider-btn span:hover {
    background: #FEF22E;
    border: 2px solid #FEF22E;
}


/* client-feedback area end */


/* total-area-start */

.total-area-wrapper {
    background: #15287D;
    padding: 55px 60px;
}

.total-content {
    display: flex;
    align-items: center;
}

.total-icon img {
    display: inline-block;
    width: 66px;
    height: auto;
}

.total-icon {
    margin-right: 25px;
}

.main-total-wrapper {
    display: flex;
    justify-content: space-between;
}

.total-text h1 {
    font-weight: 600;
    color: #fff;
    font-size: 45px;
    margin-bottom: 0;
}

.total-text p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 0;
}

.total-area {
    position: relative;
    margin-top: -63px;
}


/* total-area-end */


/* blog-area start */

.blog-area-wrapper {
    padding: 129px 0px 124px 0px;
    border-bottom: 2px solid #E7E9F2;
}

.blog-area-heading p {
    font-weight: 500;
    font-size: 16px;
    color: #007cfb;
}

.blog-area-heading h1 {
    font-size: 42px;
    font-weight: 600;
    color: #15287d;
    line-height: 52px;
}

.blog-main-content img {
    width: 100%;
}

.blog-main-content {
    text-align: right;
}

.blog-main-content a {
    display: inline-block;
}

.blog-main-content a i {
    color: #fff;
    background: #007CFB;
    padding: 12px 12px;
    position: relative;
    right: 25px;
    top: -20px;
    display: inline-block;
    font-size: 14px;
}

.blog-main-bottom-content p {
    font-weight: 600;
    font-size: 15px;
    color: #747ca2;
}

.blog-main-bottom-content p span img {
    display: inline-block;
    width: 35px;
    margin-right: 15px;
    border-radius: 50%;
}

.blog-main-bottom-content h2 {
    font-weight: 600;
    font-size: 24px;
    color: #15287d;
    line-height: 35px;
}

.blog-right {
    background: #E1E9F2;
    padding: 20px;
    display: flex;
}

.blog-img img {
    width: 150px;
}

.blog-right-content {
    margin-left: 30px;
    margin-top: 12px;
}

.blog-right-content p {
    color: #747ca2;
    font-weight: 600;
    font-size: 15px;
}

.blog-right-content p span img {
    width: 35px;
    display: inline-block;
    margin-right: 15px;
}

.blog-right-content h6 {
    font-weight: 600;
    font-size: 20px;
    color: #15287d;
    line-height: 28px;
}

.blog-right-content a {
    display: inline-block;
    color: #15287d;
    font-size: 15px;
}


/* blog-area end */


/* popular-spansor-area-start  */

.popular-area {
    padding: 120px 0px;
}

.popular-heading p {
    font-weight: 600;
    font-size: 16px;
    color: #007cfb;
}

.popular-heading h1 {
    font-weight: 600;
    font-size: 42px;
    color: #15287d;
    line-height: 52px;
    margin-top: 20px;
}

.sponsor-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

.spansor-main-content {
    width: 25%;
    text-align: center;
}

.sponsor-logo-img,
.sponsor-logo-img-five {
    text-align: left;
}

.sponsor-logo-img-four,
.sponsor-logo-img-eight {
    text-align: right;
}

.sponsor-logo-img img {
    width: 246px;
}

.sponsor-logo-img-two img {
    width: 220px;
}

.sponsor-logo-img-three img {
    width: 163px;
}

.sponsor-logo-img-four img {
    width: 250px;
}

.sponsor-logo-img-five img {
    width: 214px;
}

.sponsor-logo-img-six img {
    width: 198px;
}

.sponsor-logo-img-seven img {
    width: 244px;
}

.sponsor-logo-img-eight img {
    width: 160px;
}

.margin-top-content {
    margin-top: 70px;
}


/* popular-spansor-area-end */


/* footer-area-start */

.footer-area {
    background: #15287D;
}

.footer-wrapper {
    padding: 100px 0px;
    border-bottom: 2px solid #243892;
}

.footer-first h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.footer-first ul {
    margin-top: 35px;
}

.footer-first ul li {
    margin-bottom: 20px;
}

.footer-first ul li a {
    display: inline-block;
    color: #7183d4;
    font-size: 15px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    font-weight: 500;
}

.footer-first ul li a:hover {
    color: #fef22e;
}

.footer-first ul li a span {
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
}

.footer-sec h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.footer-sec-wrapper {
    margin-top: 40px;
}

.footer-sec-content {
    display: flex;
}

.footer-sec-inner-text {
    margin-left: 20px;
}

.footer-sec-inner-text h4 {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 20px;
}

.footer-sec-inner-text p {
    color: #7183d4;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 0;
}

.footer-sec-inner-text p span img {
    display: inline-block;
    width: 13px;
    margin-right: 10px;
}

.footer-last h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.footer-last-content {
    margin-top: 35px;
}

.footer-last-text {
    display: flex;
}

.footer-last-img img {
    display: inline-block;
    width: 50px;
}

.footer-last-inner-text {
    margin-left: 20px;
}

.footer-last-inner-text h5 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.footer-last-inner-text p {
    font-weight: 400;
    font-size: 15px;
    color: #7183d4;
}

.footer-bottom {
    padding: 25px 0px;
}

.footer-bottom p {
    color: #7183d4;
    font-size: 15px;
    margin-bottom: 0;
}


/* footer-area-end */


/* --code for responsive menu start-- */

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sm-bar {
    width: 30px;
    cursor: pointer;
}

.sm-bar span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 6px 0px;
    background-color: #007CFB;
}

.sm-bar {
    display: none;
}

.blog-content {
    margin-top: 50px;
}


/* --code for responsive menu end-- */


/* about page start */

.about-pagination-area p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.about-pagination-area p span a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-right: 5px;
}

.about-pagination-area {
    margin-top: -25px;
}

.about-banner {
    padding: 150px 0px;
}

.about-page-about-area-left {
    background: url(img/about-left.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    padding: 70px 0px;
}

.about-page-about-area-left-button button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border: 0;
    outline: none;
    background: none;
}

.about-page-about-area-left img {
    width: 100%;
}

.about-page-about-area-right {
    margin-top: 70px;
}

.about-page-area {
    padding: 80px 0px 100px 0px;
}


/* -- cleaning-area start -- */

.cleaning-content {
    border: 2px solid #EEF0F6;
    padding: 50px 30px 50px 41px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.cleaning-content:hover {
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 25px #F8F8F8;
}

.cleaning-content:hover.cleaning-content span i {
    background: #FEF22E;
    border: 2px solid #FEF22E;
}

.cleaning-content-img {
    width: 95px;
    height: 95px;
    background: #EDF6FF;
    border-radius: 34% 66% 46% 54% / 51% 58% 42% 49%;
    position: relative;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.cleaning-content-img img {
    width: 48px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cleaning-content h3 {
    font-weight: 600;
    font-size: 24px;
    color: #15287d;
    padding: 20px 0px;
    margin-bottom: 0;
}

.cleaning-content p {
    font-weight: 400;
    font-size: 15px;
    color: #747ca2;
    line-height: 28px;
}

.cleaning-content span i {
    display: inline-block;
    color: #15287d;
    font-size: 13px;
    border: 2px solid #EEF0F6;
    padding: 10px 15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.cleaning-img-hov {
    width: 48px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.cleaning-img-hov img {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.cleaning-content:hover .cleaning-img-hov img {
    opacity: 0;
    visibility: hidden;
}

.cleaning-content:hover #p2hovone {
    background-image: url(img/cleaning1-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cleaning-content:hover #p2hovtwo {
    background-image: url(img/cleaning2-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cleaning-content:hover #p2hovthree {
    background-image: url(img/cleaning1-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cleaning-content:hover .cleaning-content-img {
    background-color: #007CFB;
}

.cleaning-area {
    padding: 50px 0px 100px 0px;
}


/* -- cleaning-area end -- */


/* -- make-an-area-start -- */

.make-an {
    background: #253683;
    padding: 100px 0px;
}

.make-an-wrapper p {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.make-an-wrapper h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #fff;
}

.make-an-btn {
    margin-top: 40px;
}

#make-btn {
    display: inline-block;
    background: #ffffff;
    padding: 20px 20px 20px 35px;
    color: #15287d;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    margin-right: 15px;
}

#make-btn span {
    background: #007AF7;
    padding: 10px 15px;
    color: #fff;
    margin-left: 20px;
}

#make-btn:hover {
    opacity: .7;
}

#make-btn-two {
    display: inline-block;
    background: transparent;
    border: 1px solid #6773A8;
    padding: 20px 20px 20px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

#make-btn-two span {
    background: #fff;
    padding: 10px 15px;
    color: #007AF7;
    margin-left: 20px;
}

#make-btn-two:hover {
    opacity: .7;
}


/* -- make-an-area-end -- */


/* -- team member area start -- */

.team-member {
    padding: 100px 0px 100px 0px;
}

.team-member-heading p {
    font-weight: 500;
    font-size: 16px;
    color: #007cfb;
}

.team-member-heading h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #15287d
}

.team-member-details {
    background: #fff;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -80px;
    padding: 20px 0px;
    text-align: center;
    right: 10%;
    box-shadow: 0px 1px 10px #CBCBCB;
}

.team-member-content {
    position: relative;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.team-member-content:hover .social-icon {
    max-height: 100px;
    transition: max-height 1s;
}

.team-member-details h2 {
    font-weight: 600;
    font-size: 22px;
    color: #15287d;
    margin-bottom: 3px;
}

.team-member-details p {
    font-size: 15px;
    color: #007cfb;
}

.social-icon {
    overflow: hidden;
    max-height: 0;
}

.social-icon span i {
    display: inline-block;
    font-size: 13px;
    color: #007CFB;
    background: #E7E9F2;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.social-icon span i:hover {
    background: #FEF22E;
    color: #15287D;
}

.team-member-content img {
    width: 100%;
}

.team-member-list-bottom {
    margin-top: 130px;
}

.team-member-list {
    margin-top: 50px;
}

.view-more {
    position: relative;
    height: 400px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 30px #FDFDFD;
}

.view-more-btn {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-more-btn span a i {
    display: inline-block;
    background: #007CFB;
    color: #fff;
    padding: 10px 15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.view-more-btn span a i:hover {
    opacity: .7;
}

.view-more-btn p {
    font-weight: 600;
    color: #15287d;
    font-size: 15px;
    margin-top: 20px;
}


/* -- team member area end -- */


/* about total area start */

.about-total-area {
    background: #15287D;
    padding: 55px 0px;
}


/* about total area end */


/* -- about-client-feedback area start -- */

.about-client-feedback {
    padding: 100px 0px;
    border-bottom: 2px solid #E7E9F2;
}

.about-slider-content {
    background: #fff;
    padding: 35px 30px 25px 30px;
    border: 5px solid #F2F8FF;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.about-slider-content:hover {
    border: 5px solid #007CFB;
}

.about-slider-content img {
    display: inline-block;
    width: 50px !important;
    margin-bottom: 20px;
}

.about-slider-content p {
    font-size: 15px;
    color: #747ca2;
    line-height: 28px;
}

.about-slider-inner-bottom {
    margin-top: 20px;
}

.about-client-feedback-slider {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #007CFB;
    position: relative;
}

.owl-dot.active span::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid #007CFB;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 70px;
}


/* -- about-client-feedback area end -- */


/* about page end */


/* services page start */

.serivce-core {
    margin-top: 0;
    padding: 100px 0px 200px 0px;
}

.service-box-area {
    padding-bottom: 100px;
    border-bottom: 1px solid #EBECF4;
}

.service-what-dos {
    background: #fff;
}

.service-what-do-heading p {
    color: #007cfb;
}

.service-what-do-heading h1 {
    color: #15287d;
}

.service-what-do-inner-text h3 {
    color: #15287d;
}

.service-what-do-inner-text p {
    color: #747ca2;
}

.service-what-do-content {
    background: #fff;
    border: 2px solid #E9EBF4;
}

.service-what-do-content span i {
    background: #F0F1F8;
    color: #15287D;
}

.service-what-do-content:hover.service-what-do-content span i {
    background: #007CFB;
    color: #fff;
}

.service-what-do-content:hover .service-what-do-inner-text h3 {
    color: #fff;
}

.service-what-do-content:hover .service-what-do-inner-text p {
    color: #fff;
}

.service-blog-main-bottom-content ul {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    margin-bottom: 15px;
}

.service-blog-main-bottom-content ul li:first-child {
    font-size: 15px;
    color: #007cfb;
}

.service-blog-main-bottom-content ul li span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #007cfb;
    display: inline-block;
}

.service-blog-main-bottom-content ul li:last-child {
    font-size: 15px;
    color: #747ca2;
}

.service-blog-main-bottom-content h2 {
    font-weight: 600;
    font-size: 20px;
    color: #15287d;
    text-align: left;
    line-height: 32px;
}

.service-blog-main-content {
    position: relative;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.service-blog-main-bottom-content {
    background: #fff;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -135px;
    padding: 30px 30px;
    text-align: center;
    right: 10%;
    box-shadow: 0px 1px 10px #CBCBCB;
}

.service-hidden-btn {
    text-align: left;
    overflow: hidden;
    max-height: 0px;
}

.service-hidden-btn a {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    color: #007cfb;
    border-bottom: 2px solid #007cfb;
}

.service-blog-main-bottom-content:hover .service-hidden-btn {
    max-height: 100px;
    transition: max-height 1s;
}

.service-blog-area {
    padding-bottom: 220px;
    border: 0;
}

.service-footer-area {
    background: #F8F8F8;
}

.servicer-footer-one a img {
    width: 150px;
    margin-bottom: 40px;
}

.servicer-footer-one p {
    font-size: 14px;
    color: #747ca2;
    line-height: 28px;
}

.footer-social-wrap ul li a i {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #E1E3EB;
    color: #30418C;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.footer-social-wrap ul li a i:hover {
    background: #007CFB;
    color: #fff;
}

.service-footer-first h3 {
    color: #15287D;
}

.service-footer-first ul li a {
    color: #747ca2;
}

.service-footer-first ul li a:hover {
    color: #007cfb;
}

.service-footer-sec h3 {
    color: #15287D;
}

.service-footer-sec-inner-text h4 {
    color: #15287d;
}

.service-footer-sec-inner-text span {
    color: #747ca2;
}

.service-footer-last h3 {
    color: #15287D;
}

.service-footer-last-inner-text h5 {
    color: #15287d;
}

.service-footer-last-inner-text p {
    color: #747ca2;
    font-size: 15px;
}

.service-footer-last-inner-text {
    margin-left: 12px;
}

.service-footer-wrapper {
    border-bottom: 2px solid #E1E3EB;
}

.service-footer-bottom p {
    color: #747ca2;
}


/* services page end */


/* blog grid page start */

.blog-grid-bottom p {
    font-size: 14px;
    color: #747ca2;
    line-height: 28px;
    margin-top: 15px;
}

.blog-grid-content {
    margin-top: 55px;
}

.blog-grid-area-wrapper {
    padding: 60px 0px 100px 0px;
}

.blog-grid-btn ul li {
    display: inline-block;
    margin-right: 5px;
}

.blog-grid-btn ul li a {
    display: inline-block;
    background: #EEF0F6;
    color: #15287C;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 24px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.blog-grid-btn ul li a:hover {
    background: #15287C;
    color: #fff;
}

.blog-grid-btn {
    margin-top: 80px;
}


/* blog grid page end */


/* contact us page start */

.map-contact {
    width: 620px;
}

.map-wrapper p {
    font-size: 16px;
    color: #007cfb;
    font-weight: 500;
}

.map-wrapper h1 {
    font-size: 42px;
    color: #15287d;
    line-height: 52px;
    font-weight: 600;
}

.map-wrapper-content p {
    font-size: 16px;
    font-weight: 600;
    color: #747ca2;
}

.map-wrapper-content h6 {
    font-weight: 600;
    font-size: 22px;
    color: #15287d;
    line-height: 32px;
}

.map-wrapper-content {
    margin-top: 50px;
}

.map-contact {
    padding: 80px 80px;
    box-shadow: 0px 0px 20px #FBFBFB;
    border-bottom: 3px solid #3F9BFA;
    position: absolute;
    top: 136px;
    right: 250px;
    background: #fff;
}

.map-area {
    position: relative;
    padding-bottom: 150px;
}

.get-in-heading p {
    font-size: 16px;
    font-weight: 600;
    color: #007cfb;
}

.get-in-heading h1 {
    font-weight: 600;
    font-size: 42px;
    color: #15287d;
}

.get-in-wrapper {
    margin-top: 50px;
    padding-right: 200px;
}

.get-in-wrapper input {
    width: 100%;
    background-color: #EEF0F6;
    border: none;
    outline: none;
    padding: 20px 40px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #15287d;
    border: 2px solid transparent;
}

.get-in-wrapper input:focus {
    background: #fff;
    border: 2px solid #EEF0F6;
}

.get-in-wrapper input::placeholder {
    opacity: 1;
}

.contact-input select {
    width: 100%;
    background-color: #EEF0F6;
    padding: 20px 40px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #15287d;
}

.get-in-wrapper select:focus {
    background: #fff;
    border: 2px solid #EEF0F6;
}

.contact-input textarea {
    width: 100%;
    background-color: #EEF0F6;
    border: none;
    outline: none;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 18px;
    color: #15287d;
    resize: none;
    height: 180px;
}

.get-in-wrapper textarea:focus {
    background: #fff;
    border: 2px solid #EEF0F6;
}

.get-in-wrapper textarea::placeholder {
    opacity: 1;
}

.contact-submit-btn button {
    display: inline-block;
    background: #007CFB;
    padding: 20px 25px 20px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    border: none;
}

.contact-submit-btn button:hover {
    opacity: .7;
}

.contact-submit-btn button span i {
    background: #FEF22E;
    padding: 10px 15px;
    color: #253578;
    margin-left: 40px;
}

.contact-submit-btn {
    padding-left: 15px;
    margin-top: 30px;
}

.get-in-touch {
    padding: 100px 0px;
}

.map-area iframe {
    width: 100%;
    height: 750px;
}


/* contact us page end */